<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>620814455025-ecp3ddkm8vbac7qqti13smrl82rvh7eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620814455025-ecp3ddkm8vbac7qqti13smrl82rvh7eu</string>
	<key>API_KEY</key>
	<string>AIzaSyA-AaU7QoWrZzjV20vJDK5upf09Z1gji50</string>
	<key>GCM_SENDER_ID</key>
	<string>620814455025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.b2c</string>
	<key>PROJECT_ID</key>
	<string>b2chybrid</string>
	<key>STORAGE_BUCKET</key>
	<string>b2chybrid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620814455025:ios:ebc4886c39beb223</string>
	<key>DATABASE_URL</key>
	<string>https://b2chybrid.firebaseio.com</string>
</dict>
</plist>